<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiénes Somos - WebPsy</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/Adultos/estilos.css"> <!-- Vincula tu archivo CSS -->
</head>
<body>
    <header>
        <div class="container">
            <h1>WebPsy</h1>
        </div>
        <button class="btn btn-primary btn-regresar" onclick="window.history.back()">
            <i class="fas fa-arrow-left"></i> Regresar
        </button>
        </header>
    <main>
        <section class="hero">
            <div class="container">
                <h2>Quiénes Somos</h2>
                <p>En WebPsy, nuestro equipo está dedicado a proporcionar el mejor soporte psicológico a nuestros usuarios. Estamos comprometidos con la salud mental y el bienestar emocional.</p>
            </div>
        </section>
        <section class="about">
            <div class="container">
                <div class="about-content">
                    <img src="Imagenes/depositphotos_80147336-stock-photo-business-teamwork.jpg" alt="Nuestro equipo" class="fade-in">
                    <div class="text slide-in">
                        <h3>Nuestro Equipo</h3>
                        <p>Somos un equipo que desea que las demás personas tengan como prioridad la salud psicológica. Por eso, nuestra meta es diseñar esta página para brindar a los usuarios la mejor experiencia posible al momento de buscar alternativas en el ámbito de la psicología. Te ofrecemos apoyo psicológico de parte de expertos especializados en el tema.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- final del menú lateral -->
    </main>
    <script src="js/Adultos/script2.js"></script> <!-- Vincula tu archivo JavaScript -->
    <footer>
        <div class="container">
            <p>&copy; 2024 WebPsy. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>
